{% extends "front/layouts/modal.layout.html.twig" %}

{% block modalId %}finish{% endblock %}
{% block modalWidth %}{% endblock %}
{% block modalImg %}{% endblock %}
{% block title %}{% trans %}Merci !{% endtrans %}{% endblock %}
{% block description %}{% endblock %}

{% block modalBody %}
    <p>{% trans %}Vos pièces ont été soumises à notre équipe.{% endtrans %}</p>
    <p class="mb-5">{% trans %}Nous reviendrons vers vous sous 72h pour valider votre profil.{% endtrans %}</p>
    <div>
        <a href="{{ path('user_dashboard') }}" class="btn btn-secondary btn-w-ico w-full sm:w-auto justify-center">
            {% trans %}Découvrir mon espace{% endtrans %}
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75" />
            </svg>
        </a>
    </div>
{% endblock %}